<h1 id="tableLabel">To Do List</h1>

<div class="add-container" style="margin-top: 20px; text-align: left">
  <button (click)="getToDoList()">Refresh Data</button>
  <span style="margin-left: 10px;" *ngIf="toDoList_Modals && toDoList_Modals.length === 0">No data. Click Refresh Data</span>
</div>

<table *ngIf="toDoList_Modals">
  <thead>
    <tr>
      <th>Complete</th>
      <th>Text</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let toDoList_Modal of toDoList_Modals">
      <td>
        <input type="checkbox"
               [checked]="toDoList_Modal.isComplete"
               (change)="toDoList_Modal.isComplete = !toDoList_Modal.isComplete">
      </td>
      <td [class.completed]="toDoList_Modal.isComplete">{{ toDoList_Modal.text }}</td>
      <td><button type="button" (click)="deleteItem(toDoList_Modal)">Delete</button></td>
    </tr>
    <tr>
      <td></td>
      <td><input #newItemText type="text" placeholder="Enter new task..."></td>
      <td><button (click)="addItem(newItemText.value); newItemText.value=''">Add</button></td>
    </tr>
  </tbody>
</table>


